#app {
  height: 100vh;
}
// popup弹框遮罩层自定义
.popup-custom-overlay {
  background: #ffffff00 !important;
}
.popup-custom-border {
  & + .var-popup__content {
    border-radius: 15px 15px 0 0 !important;
  }
}

// .var-popup--bottom {
//   max-width: 100%;
// }
.var-tabs__indicator-inner {
  background: #00000090 !important;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.75);
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 85, 0.4);
}
