<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Detail</title>
  </head>
  <body style="margin: 0">
    <div style="height: 100%; width: 100%">
      <div
        style="
          width: 100%;
          height: 90px;
          line-height: 90px;
          font-size: 20px;
          text-align: center;
          color: #ffffff;
          background-color: #7f54b3;
        "
      >
        Thank you for your order
      </div>
      <div
        style="
          width: 100%;
          min-width: 375px;
          height: 100%;
          overflow: auto;
          padding: 15px;
          box-sizing: border-box;
        "
      >
        <div style="font-size: 14px">Hi ziqi,</div>
        <div style="font-size: 14px; margin-top: 20px">
          Just to let you know - we've received your order R61765417, and it is
          now being processed:
        </div>
        <div
          style="
            font-size: 14px;
            margin-top: 20px;
            font-weight: bold;
            color: #7f54b3;
          "
        >
          [Order R61765417]
          <br />
          (November 11,2023)
        </div>
        <div style="margin-top: 20px; width: 100%">
          <!-- 产品表头 -->
          <div style="width: 100%; display: flex">
            <div
              style="
                width: 60%;
                font-size: 14px;
                font-weight: bold;
                color: #333;
                display: inline-block;
                border: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Product
            </div>
            <div
              style="
                width: 20%;
                font-size: 14px;
                font-weight: bold;
                color: #333;
                display: inline-block;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Quantity
            </div>
            <div
              style="
                width: 20%;
                font-size: 14px;
                font-weight: bold;
                color: #333;
                display: inline-block;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Price
            </div>
          </div>
          <!-- 产品列表，循环productList -->
          <div style="width: 100%; display: flex">
            <div
              style="
                width: 60%;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              <div style="margin-top: 5px">
                <!-- item.description -->
                iPhone 15 pro max - Unicorn 5.5ft drop protection - lifted
                camera ring
              </div>
              <div style="margin-top: 5px">
                <!-- item.extendJson.phoneName -->
                model: iPhone 15 pro max
              </div>
              <div style="margin-top: 5px">Custom design</div>
              <div style="margin-top: 5px">
                <img
                  style="width: 60%"
                  src="/colgifts/image/0e36c5e18b7d4a5581afb61710495444"
                  alt=""
                />
              </div>
            </div>
            <div
              style="
                width: 20%;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              1
            </div>
            <div
              style="
                width: 20%;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              $30
            </div>
          </div>
          <!-- Subtotal line -->
          <div style="width: 100%; display: flex">
            <div
              style="
                font-weight: bold;
                width: 80%;
                display: inline-block;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Subtotal
            </div>
            <div
              style="
                width: 20%;
                display: inline-block;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              $36
            </div>
          </div>
          <!-- payment method line -->
          <div style="width: 100%; display: flex">
            <div
              style="
                font-weight: bold;
                width: 80%;
                display: inline-block;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Payment method:
            </div>
            <div
              style="
                width: 20%;
                display: inline-block;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Paypal
            </div>
          </div>
          <!-- Total line -->
          <div style="width: 100%; display: flex">
            <div
              style="
                font-weight: bold;
                width: 80%;
                display: inline-block;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              Total:
            </div>
            <div
              style="
                width: 20%;
                display: inline-block;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                padding-left: 5px;
                box-sizing: border-box;
              "
            >
              $36
            </div>
          </div>
          <!-- Billing address -->
          <div
            style="
              margin: 20px 0;
              font-size: 18px;
              font-weight: bold;
              color: #7f54b3;
            "
          >
            Billing address
          </div>
          <div
            style="
              padding: 15px;
              width: 100%;
              border: 1px solid #ccc;
              box-sizing: border-box;
            "
          >
            <div style="margin: 5px 0">China 518000</div>
            <div style="margin: 5px 0">guangdong shenzhen bantian street</div>
            <div style="margin: 5px 0">ziqi yi</div>
            <div style="margin: 5px 0; color: #0404ff">18566206515</div>
            <div style="margin: 5px 0; color: #0404ff">yiziqi_234@163.com</div>
          </div>
          <div style="margin-top: 55px">
            Thanks for using
            <a
              style="text-decoration: underline; color: #0404ff"
              href="https://www.memtoys.com"
            >
              https://www.memtoys.com
            </a>
            !
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
