<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body style="margin: 0">
    <div style="height: 100%; width: 100%">
      <div
        style="
          width: 100%;
          height: 90px;
          line-height: 90px;
          font-size: 20px;
          text-align: center;
          color: #ffffff;
          background-color: #7f54b3;
        "
      >
        Welcome to Colgifts
      </div>
      <div style="margin: 20px 40px">
        <div style="margin-bottom: 15px">Hi, 148166004,</div>
        <div style="margin-bottom: 15px; line-height: 25px">
          Thanks for creating an account on imisstoys. Your username is
          <span
            style="
              font-weight: bold;
              color: #7f54b3;
              text-decoration: underline;
            "
          >
            1151469747
          </span>
          . You can access your account area to view orders, change your
          password, and more at:
          <a href="https://memtoys.com/#/userInfo/">
            https://memtoys.com/#/userInfo/
          </a>
        </div>
        <div style="margin-bottom: 15px">
          We look forward to seeing you soon.
        </div>
      </div>
    </div>
  </body>
</html>
